{% extends 'layout.html' %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="/stylesheet/login.css?version=0.0.7">
{% endblock %}

{% block content %}
<header>
  <img src="/images/animalfight.png" alt="" class="title">
  <a href="/tutorial">
    <img src="/images/tutorial.png" alt="" class="tutorialImg">
  </a>
</header>
<main>
  <div id="loginForm">
    <div class="loginInputContainer">
      <label for="login_id">ID</label>
      <input type="text" id="login_id" name="id">
    </div>
    <div class="loginInputContainer">
      <label for="login_password">비밀번호</label>
      <input type="password" id="login_password" name="password">
    </div>
    <div class="form_footerBtnContainer">
      <button id="loginBtn">로그인</button>
      <button class="modeChangeBtn">회원가입</button>
    </div>
  </div>
  <div style="display: none;" id="joinForm">
    <div class="joinInputContainer">
      <label for="join_nick">닉네임</label>
      <input type="text" id="join_nick" name="nick" placeholder="2~8자 내 한글, 영어, 숫자">
      <button class="joinForm_checkBtn" id="nickOverlapChecker">중복 검사</button>
    </div>
    <div class="joinInputContainer">
      <label for="join_id">ID</label>
      <input type="text" id="join_id" name="id" placeholder="6~16자 내 영어, 숫자">
      <button class="joinForm_checkBtn" id="idOverlapChecker">중복 검사</button>
    </div>
    <div class="joinInputContainer">
      <label for="join_password">비밀번호</label>
      <input type="password" id="join_password" name="password" placeholder="6~16자 내 영어, 숫자, !@#$%^&*()._-">
    </div>
    <div class="joinInputContainer">
      <label for="join_passwordCheck">비밀번호 확인</label>
      <input type="password" id="join_passwordCheck" name="passwordCheck">
    </div>
    <div class="form_footerBtnContainer">
      <button id="joinBtn">회원가입</button>
      <button class="modeChangeBtn">취소</button>
    </div>
  </div>
</main>
<div style="display: none;" class="alertModal"></div>
<div style="display: none;" class="OutOfAlertModal"></div>
<div style="display: none;" class="loadingShower">로딩 중</div>
<div style="display: none;" class="outOfLoadingShower"></div>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    const loginCode = localStorage.getItem('LOGIN_CODE')
    if (loginCode) {
      localStorage.removeItem('LOGIN_CODE')
    }
  }
</script>
<script src="/scripts/login.js?version=0.0.7"></script>
{% endblock %}