{% extends 'layout.html' %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="/stylesheet/tutorial.css?version=0.0.14">
{% endblock %}

{% block content %}
<header>
  <a href="/" class="homeLink">
    <img src="/images/animalfight.png" alt="" class="title">
  </a>
</header>
<main>
  <div class="content">
    <h1>튜토리얼</h1>
    <img src="/images/homePart.png" alt="" class="screenImg">
    <p>
      1. 전투에 참여할 아군 동물들의 배치로, 동물 메뉴에서 배치를 변경할 수 있습니다. 전투 시작 시, 해당 배치로 시작합니다. (전투 중에도 배치를 변경할 수 있습니다.)
      <br> <br>
      2. 본인의 유저 정보를 확인할 수 있으며, '프로필 관리'에서 유저 정보를 변경할 수 있습니다.
      <br> <br>
      3. 적 정보, 소모 두루마리, 전투 보상 등 전장 정보를 확인 가능하며, 전투를 실행할 수 있습니다. 별 3개를 획득한 전장의 경우, 소탕을 통해 곧바로 보상을 획득할 수 있습니다.
      (두루마리는 전투 승리 시에만 소모됩니다.)
      <br> <br>
      4. 재화를 확인할 수 있습니다.
      <br>
      &nbsp;재화 활용: 금 → 동물 강화, 옥 → 패스 및 상품 구매, 두루마리 → 전투, 영혼 → 동물 소환
      <br> <br>
      5. 홈을 포함한 다양한 메뉴가 있습니다.
      <br>
      &nbsp;동물: 동물 소환 및 배치 / 육성: 동물 강화 / 업적: 업적 현황 확인 및 완료 업적 보상 수령 / 패스: 출석 보상 수령 및 패스 보상 수령 (패스 → 상점에서 구매 가능) / 상점:
      패스, 재화 구매 및 옥 충전 / 우편: 우편 확인 및 우편 보상 수령 / 랭킹: 100위 이내 랭커 및 본인 정보 확인 / 문의: 문의 관련 정보
    </p>
    <img src="/images/animalPart.png" alt="" class="screenImg">
    <p>
      &nbsp;동물 메뉴에는 일반 모드와 배치 모드가 있습니다. 일반 모드에서는 동물 정보 확인 및 소환이 가능하며, 배치 모드에서는 동물 배치를 변경할 수 있습니다. 배치모드일 때, 배치 화면의 동물을
      클릭하면 배치가 해제됩니다.
      <br> <br>
      1. 동물 클릭 시, 일반 모드에서는 동물 정보를 확인할 수 있고, 배치 모드에서는 보유한 동물을 배치할 수 있습니다. (동물을 클릭 후, 배치하려는 위치를 클릭하면 해당 위치로 동물이 배치됩니다.)
      <br> <br>
      2. 모드를 변경할 수 있으며, 동물을 소환할 수 있습니다.
    </p>
    <img src="/images/battlePart.png" alt="" class="screenImg">
    <p>
      &nbsp;전투는 3분간 진행되며, 총 120마리의 적과 1마리의 보스가 등장합니다. 적이 생존한 채로 원점으로 돌아오면, 라이프가 1감소하며, 전투 최종 성과에 따라 별을 획득합니다. (모든 적 처치 →
      3 / 보스
      처치 및
      라이프 40 이상 → 2 / 보스 처치 및 라이프 1이상 → 1 / 라이프 0 또는 보스 생존 → 패배)
      <br>
      <br>
      1. 전장 상황을 확인 가능하며, 클릭을 통해 아군 동물의 정보를 확인하거나 동물의 위치를 변경할 수 있습니다.
      <br> <br>
      2. 적 정보를 확인할 수 있습니다.
      <br> <br>
      3. 아군 동물 정보를 확인할 수 있습니다. (이동 버튼을 누른 후, 원하는 아군 배치 공간을 클릭하면 해당 위치로 이동합니다. / PC 버전에서는 키보드로 m을 누를 시, 이동 버튼을 누른 것과 동일하게 작동합니다.)
      <br> <br>
      4. 전투 시간 및 라이프를 확인 가능하며, 적 체력 표시 (비)활성화, 전투 진행 속도 변경, 전투 정지(시작) 및 전투 포기를 할 수 있습니다.
    </p>
  </div>
</main>
{% endblock %}